{% extends 'base.html' %}
{% load static %}

{% block title %}clubc ranking{% endblock title %}

{% block scripts %}
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/echart-main.js' %}"></script>
<script src="{% static 'js/echart-main_BTC.js' %}"></script>
<script src="{% static 'js/echart-main3.js' %}"></script>

{% endblock scripts %}

{% block content %}
    <div align="center" class="boxA" style="margin-top: 30px">
<!--     	{% for i in mark.groups_set.all %}
   {{i.first_year}}
		{% endfor %} -->
        <div id="echart_main" style="width: 1000px;height:500px;"></div>
        <div id="echart_main_BTC" style="width: 1000px;height:500px;"></div>
    </div>
{% endblock content %}
